* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


body{
    font-family: merienda;
    background-color: plum;
}

/*--Header--*/
.navbar{
    background-color: rgb(155, 153, 153);
}
.navbar-nav{
    display: flex;
    justify-content:space-evenly; 
    
}

.navbar-light .navbar-nav .nav-link{
    color: purple;
    font-size: 1.2rem;
    font-family: merienda;
    margin: 2vw;
}

.navbar-light .navbar-nav .nav-link:hover{
	transform: scale(1.3);
	transition: transform 1s;
	color: #ecf3f7;
	border: solid 0.1rem;
	border-radius: 0.5rem;
}

/*carrito compra*/

#boton-carrito {
    
    border: none;
    color: white;
    margin-top: -3.5rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    background-color: rgb(137, 43, 139);
    border-radius: 2rem;
    position: fixed;
    padding: .5rem 1rem;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: rgb(137, 43, 139);
    background-color: darkgrey;
}
#boton-carrito:focus {
    outline: none;
}


/* Galeria Carrito*/
#contenedor-productos {
    max-width: 90%;
    margin: 12rem auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
    #contenedor-productos{
        justify-content: center;
    }
}
p {
    line-height: 1.5;
}
.producto {
    display: block;
    text-align: center;
    width: 12rem;
    height: 22rem;
    padding: .6rem;
    margin: .5rem;
    margin-bottom: 2rem;
    background-color: lightgrey;
    box-shadow: .1rem .3rem .2rem .2rem rgba(0, 0, 0, 0.3);
}
img {
    width: 10rem;
    height: 10rem;
    
}
h3{
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: .5rem;
}
.precioProducto {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.3rem;
    color: rgb(171, 23, 131);
    
}

.boton-agregar {
    background-color: rgb(128, 84, 121);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 8rem;
    height: 2rem;
    border-radius: .5rem;
    margin-top: 1rem;
    transition: all .3s;
}
.boton-agregar:hover {
    cursor: pointer;
    background-color: black;
    color: palevioletred;
}
.boton-agregar:focus {
    outline: none;
}
.boton-finalizar{
    background-color: rgb(128, 84, 121);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 9rem;
    height: 2rem;
    border-radius: .5rem;
    margin-top: 1rem;
    transition: all .3s;
}
.boton-finalizar:hover {
    cursor: pointer;
    background-color: black;
    color: palevioletred;
}
.boton-finalizar:focus {
    outline: none;
}
/*Carrito de Compras*/
.modal-contenedor {
    position: fixed;
    top: 3rem;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: rgb(232, 233, 246);
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: rgb(137, 43, 139);
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(137, 43, 139);
    border: none;
    
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
    color: grey;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
    
}
.modal-carrito .precioProducto {
    padding-top: .5rem;
    
}

.productoEnCarrito {
    border-left: 5px solid rgb(137, 43, 139);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display:inline-table;
    justify-content:space-between;
    color: rgb(93, 10, 96);
}
.productoEnCarrito:hover {
    border-left: 5px solid rgb(19, 101, 126);
}

.boton-eliminar {
    color: rgb(179, 103, 103);
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
    color: crimson;
}
.boton-eliminar:focus {
    outline: none;
}

/*Footer*/
.footer{
    background-color: rgb(155, 153, 153);
}

.textoRedes{
    font-family: merienda;
    font-size:1.5rem;
    color: white;
    font-weight: 600;
    font-style: italic;
    margin-top: .2rem;
}
.list{
    display: block;
    list-style: none;
}
.icono{
    width: 3rem;
    height: 3rem;
    margin: .6rem;
    
}
.menu{
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 600;
}
.carousel-item img{
    width: 10vw;
    height: 20vw;
	border: solid plum;
    margin-top: .3rem;	
} 

/*Inicio*/
.fondo{
    width: 100%;
    height: 25rem;
    display: flex;
}
h1 {
    max-width: 10rem;
    padding-left: 3rem;
    margin-top: -5rem;
    text-align: center;
    color: rgb(137, 43, 139);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.8;
}

/*Nosotros*/
.containerNosotros{
    flex-wrap: wrap;
    height: 20rem;
    margin-top: 10rem;
    text-align: center;
    width: 90%;
    margin-left: 5%;
}
.parrafo{
    font-weight: 900;
    font-size: 2rem;
    text-decoration: underline;
}
.textoNosotros{
    color: rgb(16, 15, 18);
    font-size: 1.5rem;
    line-height: 2;
}

/*Formulario*/

.containerForm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
     max-width: 100%;
     width: 80rem;
     margin-top: 8rem;
     
 }
 .tituloContacto{
     color: aliceblue;
     background-color: black;
     padding-top: 1rem;
     font-size: 2rem;
     text-decoration: underline;
     text-align: center;
 }
 .form{
     background-color: rgb(83, 91, 174);
     padding: .5rem;
 }
 
 .form-group input{
     background-color:whitesmoke ;
     height: 2rem;
 
 }
 .form-control{
     background-color: whitesmoke;
 }
 label{
     font-weight: 800;
     font-size: 1rem;
 }
 .enviar{
     background-color: whitesmoke;
     color: black;
     font-weight: 800;
     border: solid grey;
     width: 10rem;
 }

 .form-boton {
     text-align: center;
     margin-top: .5rem;
 }
 
 
 .video{
     display: flex;
   width: 20rem;
   height: 25rem;
   margin-top: 1rem; 
 }